<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>

  <autofac defaultAssembly="IntegrationTestSpike">
    <components>

      <component type="IntegrationTestSpike.WithIOC.Providers.DatFileDataProvider" />
      <component type="IntegrationTestSpike.WithIOC.Providers.ExcelDataProvider" />

      <component type="IntegrationTestSpike.WithIOC.Steps.PrepareStep" inject-properties="yes" />
      <component type="IntegrationTestSpike.WithIOC.Steps.CalculateStep" inject-properties="yes" />

      <component type="IntegrationTestSpike.WithIOC.Calculators.BigAttackCalculator" service="IntegrationTestSpike.WithIOC.Calculators.Calculator" />
      <component type="IntegrationTestSpike.WithIOC.Calculators.BigDefenceCalculator" service="IntegrationTestSpike.WithIOC.Calculators.Calculator" />
      <component type="IntegrationTestSpike.WithIOC.Calculators.MiniAttackCalculator" service="IntegrationTestSpike.WithIOC.Calculators.Calculator" />
      <component type="IntegrationTestSpike.WithIOC.Calculators.MiniDefenceCalculator" service="IntegrationTestSpike.WithIOC.Calculators.Calculator" />
      <component type="IntegrationTestSpike.WithIOC.Calculators.NormalTowerCalculator" service="IntegrationTestSpike.WithIOC.Calculators.Calculator" />

    </components>
  </autofac>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>