<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>

  <autofac defaultAssembly="IntegrationTestSpike">
    <components>

      <component type="IntegrationTestSpike.WithIOC.Providers.DatFileDataProvider" />
      <component type="IntegrationTestSpike.WithIOC.Providers.ExcelDataProvider" />
      <component type="IntegrationTestSpike.WithIOC.Steps.PrepareStep" inject-properties="yes"/>
      <component type="IntegrationTestSpike.WithIOC.Steps.CalculateStep" inject-properties="yes"/>

    </components>
  </autofac>

</configuration>